.BlockBoxs {
  position: relative;
  margin: 0 165px 0;
  padding-bottom: 120px;
  display: flex;
}

.BlockBoxs__line {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 8px;
  background-color: #2bd0d0;
}

.BlockBoxs__box {
  position: relative;
  width: 350px;
  height: 267px;
  margin: 144px 30px 0 0;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  z-index: 1;
}

.BlockBoxs__box:nth-child(2n) {
  margin-top: 100px;
}

.BlockBoxs__box:last-child {
  margin: 188px 0 0 0;
}

.BlockBoxs__icon {
  position: absolute;
  left: 32px;
  top: -44px;
}

.BlockBoxs__title {
  margin: 77px 32px 12px;
  font-weight: bold;
  font-size: 22px;
  line-height: 33px;
}

.BlockBoxs__text {
  margin: 0 32px;
  font-size: 15px;
  line-height: 26px;
  color: #9e9aa8;
}

@media (max-width: 1439px) {
  .BlockBoxs {
    margin: 0 24px 0;
    padding-bottom: 80px;
    flex-direction: column;
  }

  .BlockBoxs__line {
    top: 92px;
    left: 160px;
    width: 8px;
    height: 1000px;
  }

  .BlockBoxs__box {
    width: 327px;
    height: 284px;
    margin: 92px 0 0 0;
  }

  .BlockBoxs__box:nth-child(2n) {
    margin-top: 92px;
  }

  .BlockBoxs__box:last-child {
    margin: 92px 0 0 0;
  }

  .BlockBoxs__icon {
    left: 120px;
  }

  .BlockBoxs__title {
    text-align: center;
  }

  .BlockBoxs__text {
    text-align: center;
  }
}
